# Student Dropout Prediction Challenge

## Introduction

Every year, a large number of students drop out of college. This has an impact not only on students but also on colleges. Predicting dropouts might help you spot potential dangers. Universities can use this research to determine which students are likely to drop out, allowing them to work with them ahead of time to fix any obstacles or issues they may have.

### Objective

The goal of this project is to predict a student's performance in finishing his or her education. This indicates
whether or not a student will drop out of an enrolled course.

### Data

Data collected is for students pursuing Bachelor’s degree during 2012 to 2017. This datasets is
divided into three parts
1. Static Data
2. Progress Data
3. Financial Aid Data

In [1440]:
#import Python modules
import pandas as pd   
import numpy as np
import random  
import matplotlib.pyplot as plt
import seaborn as sns

# Module for Train Test split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
from sklearn import metrics
from sklearn.metrics import confusion_matrix
%matplotlib inline

## Student Static Data

In [1441]:
#Import the datasets 
df1 = pd.read_csv('Student Static Data/Fall 2011_ST.csv')
df2 = pd.read_csv('Student Static Data/Fall 2012.csv')
df3 = pd.read_csv('Student Static Data/Fall 2013.csv')
df4 = pd.read_csv('Student Static Data/Fall 2014.csv')
df5 = pd.read_csv('Student Static Data/Fall 2015.csv')
df6 = pd.read_csv('Student Static Data/Fall 2016.csv')
df7 = pd.read_csv('Student Static Data/Spring 2012_ST.csv')
df8 = pd.read_csv('Student Static Data/Spring 2013.csv')
df9 = pd.read_csv('Student Static Data/Spring 2014.csv')
df11 = pd.read_csv('Student Static Data/Spring 2015.csv')
df12 = pd.read_csv('Student Static Data/Spring 2016.csv')

In [1442]:
frames = [df1, df2, df3,df4,df5,df6,df7,df8,df9,df11,df12]

In [1443]:
Student_Static_Data = pd.concat(frames)

In [1444]:
Student_Static_Data.head(10)

,StudentID,Cohort,CohortTerm,Campus,Address1,Address2,City,State,Zip,RegistrationDate,...,DualHSSummerEnroll,EnrollmentStatus,NumColCredAttemptTransfer,NumColCredAcceptTransfer,CumLoanAtEntry,HighDeg,MathPlacement,EngPlacement,GatewayMathStatus,GatewayEnglishStatus
0,285848,2011-12,1,NaN,328 Adams St Apt 1,NaN,Hoboken,NJ,7030.0,20110808,...,0,2,0.0,0.0,-1,0,0,0,0,0
1,302176,2011-12,1,NaN,142 Cherry St,NaN,Jersey City,NJ,7305.0,20110804,...,0,2,96.0,45.0,-1,0,0,0,0,0
2,301803,2011-12,1,NaN,12 Rainbow Street,NaN,Presque Isle,ME,4769.0,20110809,...,0,2,0.0,0.0,-1,0,0,0,0,0
3,302756,2011-12,1,NaN,345 4th St Apt 2,NaN,Jersey City,NJ,7302.0,20110823,...,0,2,54.0,87.5,-1,0,0,0,0,0
4,300304,2011-12,1,NaN,6600 Broadway,Apt 3D,West New York,NJ,7093.0,20110725,...,0,1,-2.0,-2.0,-2,0,1,0,0,0
5,301067,2011-12,1,NaN,240 3rd St,NaN,Jersey City,NJ,7302.0,20110420,...,0,2,70.0,66.0,-1,2,0,0,0,0
6,297371,2011-12,1,NaN,15A Claremont Ave,NaN,Jersey City,NJ,7305.0,20110628,...,0,1,-2.0,-2.0,-2,0,0,1,1,0
7,273211,2011-12,1,NaN,274 Jersey Ave Apt 7,NaN,Cliffside Park,NJ,7306.0,20110810,...,0,2,62.0,66.0,-1,2,0,0,0,0
8,302772,2011-12,1,NaN,6 Dogwood Ct,NaN,Sayreville,NJ,8872.0,20110908,...,0,2,53.0,45.0,-1,0,0,0,0,0
9,280023,2011-12,1,NaN,266 Palisade Ave Apt 4D,NaN,Jersey City,NJ,7307.0,20110714,...,0,2,52.0,66.0,-1,0,0,0,0,0

In [1445]:
Student_Static_Data.shape

(13261, 35)

In [1446]:
Student_Static_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13261 entries, 0 to 502
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  13261 non-null  int64
 1   Cohort                     13261 non-null  object
 2   CohortTerm                 13261 non-null  int64
 3   Campus                     0 non-null      float64
 4   Address1                   13148 non-null  object
 5   Address2                   389 non-null    object
 6   City                       13147 non-null  object
 7   State                      13148 non-null  object
 8   Zip                        13127 non-null  float64
 9   RegistrationDate           13261 non-null  int64
 10  Gender                     13261 non-null  int64
 11  BirthYear                  13260 non-null  float64
 12  BirthMonth                 13261 non-null  int64
 13  Hispanic                   13261 non-null  int64
 14  AmericanIndian             13261 non-null  int64
 15  Asian                      13261 non-null  int64
 16  Black                      13261 non-null  int64
 17  NativeHawaiian             13261 non-null  int64
 18  White                      13261 non-null  int64
 19  TwoOrMoreRace              13261 non-null  int64
 20  HSDip                      13261 non-null  int64
 21  HSDipYr                    13261 non-null  int64
 22  HSGPAUnwtd                 13261 non-null  float64
 23  HSGPAWtd                   13261 non-null  int64
 24  FirstGen                   13261 non-null  int64
 25  DualHSSummerEnroll         13261 non-null  int64
 26  EnrollmentStatus           13261 non-null  int64
 27  NumColCredAttemptTransfer  13261 non-null  float64
 28  NumColCredAcceptTransfer   13261 non-null  float64
 29  CumLoanAtEntry             13261 non-null  int64
 30  HighDeg                    13261 non-null  int64
 31  MathPlacement              13261 non-null  int64
 32  EngPlacement               13261 non-null  int64
 33  GatewayMathStatus          13261 non-null  int64
 34  GatewayEnglishStatus       13261 non-null  int64
dtypes: float64(6), int64(24), object(5)
memory usage: 3.6+ MB

In [1447]:
Student_Static_Data[['BirthYear','Campus','HSGPAUnwtd','HSGPAWtd','FirstGen','DualHSSummerEnroll','NumColCredAttemptTransfer','NumColCredAcceptTransfer','CumLoanAtEntry']].describe()

,BirthYear,Campus,HSGPAUnwtd,HSGPAWtd,FirstGen,DualHSSummerEnroll,NumColCredAttemptTransfer,NumColCredAcceptTransfer,CumLoanAtEntry
count,13260.000000,0.0,13261.000000,13261.0,13261.0,13261.0,13261.000000,13261.000000,13261.000000
mean,1988.916591,NaN,0.162432,-1.0,-1.0,0.0,36.970166,31.765685,-1.411130
std,8.464010,NaN,1.808477,0.0,0.0,0.0,43.403093,34.535089,0.492057
min,1945.000000,NaN,-1.000000,-1.0,-1.0,0.0,-2.000000,-2.000000,-2.000000
25%,1986.000000,NaN,-1.000000,-1.0,-1.0,0.0,-2.000000,-2.000000,-2.000000
50%,1992.000000,NaN,-1.000000,-1.0,-1.0,0.0,14.000000,22.000000,-1.000000
75%,1995.000000,NaN,2.400000,-1.0,-1.0,0.0,73.000000,66.000000,-1.000000
max,2000.000000,NaN,4.000000,-1.0,-1.0,0.0,150.000000,96.000000,-1.000000

### Data Cleaning for Student Static Data

In [1448]:
#ALL Campus data are missing,drop this column
Student_Static_Data=Student_Static_Data.drop(columns=['Campus'])

In [1449]:
#Fill one missing value with mean for birth year
Student_Static_Data[['BirthYear']]=Student_Static_Data[['BirthYear']].fillna(1989)

In [1450]:
Student_Static_Data['HSDip'].value_counts()

 1    12887
-1      289
 2       75
 4       10
Name: HSDip, dtype: int64

In [1451]:
#Missing values for HSDip  can be filled with 1, As It's necessary to have high school certificate to join a university course
Student_Static_Data[['HSDip']]=Student_Static_Data[['HSDip']].replace(to_replace =-1,value =1)

In [1452]:
Student_Static_Data['HSGPAUnwtd'].value_counts()

-1.00    9318
 2.70     213
 2.80     199
 2.50     192
 2.60     166
         ...
 2.05       1
 2.11       1
 3.86       1
 1.89       1
 1.91       1
Name: HSGPAUnwtd, Length: 214, dtype: int64

In [1453]:
#Fill the missing value of HSGPAUnwtd as zero
Student_Static_Data[['HSGPAUnwtd']]=Student_Static_Data[['HSGPAUnwtd']].replace(to_replace =-1,value =0)

In [1454]:
Student_Static_Data['HSGPAWtd'].value_counts()

-1    13261
Name: HSGPAWtd, dtype: int64

In [1455]:
#All values of HSGPAWtd are missing,drop this column
Student_Static_Data=Student_Static_Data.drop(columns=['HSGPAWtd'])

In [1456]:
Student_Static_Data['FirstGen'].value_counts()

-1    13261
Name: FirstGen, dtype: int64

In [1457]:
#All values of HSGPAWtd are missing,drop this column
Student_Static_Data=Student_Static_Data.drop(columns=['FirstGen'])

In [1458]:
Student_Static_Data['DualHSSummerEnroll'].value_counts()

0    13261
Name: DualHSSummerEnroll, dtype: int64

In [1459]:
#All values of DualHSSummerEnroll are 0, so it has no effect on the analysis,drop this column
Student_Static_Data=Student_Static_Data.drop(columns=['DualHSSummerEnroll'])

In [1460]:
Student_Static_Data['NumColCredAttemptTransfer'].value_counts()

-2.00      5452
 0.00       683
-1.00       397
 65.00      213
 68.00      168
           ...
 44.10        1
 114.50       1
 50.75        1
 126.50       1
 23.50        1
Name: NumColCredAttemptTransfer, Length: 310, dtype: int64

In [1461]:
#Fill the missing value of NumColCredAttemptTransfer as zero
Student_Static_Data[['NumColCredAttemptTransfer']]=Student_Static_Data[['NumColCredAttemptTransfer']].replace(to_replace =-1,value =0)

In [1462]:
Student_Static_Data['NumColCredAcceptTransfer'].value_counts()

-2.0     5452
 66.0    1560
 0.0      682
 96.0     487
 65.0     391
         ...
 32.5       1
 91.5       1
 84.5       1
 66.5       1
 18.5       1
Name: NumColCredAcceptTransfer, Length: 178, dtype: int64

In [1463]:
#Fill the missing value of NumColCredAttemptTransfer as zero
Student_Static_Data[['NumColCredAcceptTransfer']]=Student_Static_Data[['NumColCredAcceptTransfer']].replace(to_replace =-1,value =0)

In [1464]:
Student_Static_Data['CumLoanAtEntry'].value_counts()

-1    7809
-2    5452
Name: CumLoanAtEntry, dtype: int64

In [1465]:
#All values of CumLoanAtEntry are 0 or missing , so it has no effect on the analysis,drop this column
Student_Static_Data=Student_Static_Data.drop(columns=['CumLoanAtEntry'])

In [1466]:
Student_Static_Data['MathPlacement'].value_counts()

 0    8415
 1    4275
-1     571
Name: MathPlacement, dtype: int64

In [1467]:
#Fill the missing value of MathPlacement as zero
Student_Static_Data[['MathPlacement']]=Student_Static_Data[['MathPlacement']].replace(to_replace =-1,value =0)

In [1468]:
Student_Static_Data['EngPlacement'].value_counts()

 0    9640
 1    3050
-1     571
Name: EngPlacement, dtype: int64

In [1469]:
#Fill the missing value of MathPlacement as zero
Student_Static_Data[['EngPlacement']]=Student_Static_Data[['EngPlacement']].replace(to_replace =-1,value =0)

### Make the different columns of Race to one column for simplicity of analysis

In [1470]:
Student_Static_Data.loc[Student_Static_Data['Hispanic'] == 1,'Race'] = 'Hispanic'

In [1471]:
Student_Static_Data.loc[Student_Static_Data['AmericanIndian'] == 1,'Race'] = 'AmericanIndian'

In [1472]:
Student_Static_Data.loc[Student_Static_Data['NativeHawaiian'] == 1,'Race'] = 'NativeHawaiian'

In [1473]:
Student_Static_Data.loc[Student_Static_Data['Asian'] == 1,'Race'] = 'Asian'

In [1474]:
Student_Static_Data.loc[Student_Static_Data['Black'] == 1,'Race'] = 'Black'

In [1475]:
Student_Static_Data.loc[Student_Static_Data['White'] == 1,'Race'] = 'White'

In [1476]:
Student_Static_Data.loc[Student_Static_Data['TwoOrMoreRace'] == 1,'Race'] = 'TwoOrMoreRace'

In [1477]:
#Fill one missing value of Race with Unknown
Student_Static_Data[['Race']]=Student_Static_Data[['Race']].fillna('Unknown')

In [1478]:
#Drop the Race Columns
Student_Static_Data=Student_Static_Data.drop(columns=['Hispanic','AmericanIndian','Asian','Black','White','TwoOrMoreRace','NativeHawaiian'])

In [1479]:
#Drop un wanted Columns
Student_Static_Data=Student_Static_Data.drop(columns=['Address1','Address2','Zip','RegistrationDate','City','State'])

In [1480]:
#import DropoutTrainLabels dataset
DropoutTrainLabels = pd.read_csv('DropoutTrainLabels.csv')

In [1481]:
#merge the two datasets
Student_Static_Data_to_model= pd.merge( Student_Static_Data,DropoutTrainLabels,on='StudentID')

In [1482]:
Student_Static_Data_to_model['Dropout'].value_counts()

0    7527
1    4734
Name: Dropout, dtype: int64

In [1483]:
Student_Static_Data_to_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12261 entries, 0 to 12260
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  12261 non-null  int64
 1   Cohort                     12261 non-null  object
 2   CohortTerm                 12261 non-null  int64
 3   Gender                     12261 non-null  int64
 4   BirthYear                  12261 non-null  float64
 5   BirthMonth                 12261 non-null  int64
 6   HSDip                      12261 non-null  int64
 7   HSDipYr                    12261 non-null  int64
 8   HSGPAUnwtd                 12261 non-null  float64
 9   EnrollmentStatus           12261 non-null  int64
 10  NumColCredAttemptTransfer  12261 non-null  float64
 11  NumColCredAcceptTransfer   12261 non-null  float64
 12  HighDeg                    12261 non-null  int64
 13  MathPlacement              12261 non-null  int64
 14  EngPlacement               12261 non-null  int64
 15  GatewayMathStatus          12261 non-null  int64
 16  GatewayEnglishStatus       12261 non-null  int64
 17  Race                       12261 non-null  object
 18  Dropout                    12261 non-null  int64
dtypes: float64(4), int64(13), object(2)
memory usage: 1.9+ MB

### create the Dummy Variables

In [1484]:
Race_dummies = pd.get_dummies(Student_Static_Data_to_model.Race, prefix="Race")

In [1485]:
df_with_dummies = pd.concat([Student_Static_Data_to_model,Race_dummies],axis='columns')

In [1486]:
df_with_dummies=df_with_dummies.drop(columns=['Race'])

In [1487]:
df_with_dummies=df_with_dummies.drop(columns=['StudentID','Dropout','HSDip','Cohort'])

In [1488]:
X = df_with_dummies

In [1489]:
y = Student_Static_Data_to_model.Dropout

In [1490]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1491]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.617833
         Iterations 7

In [1492]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12239
Method:                           MLE   Df Model:                           21
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                 0.07368
Time:                        04:16:40   Log-Likelihood:                -7575.3
converged:                       True   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                5.028e-242
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                        71.5662        nan        nan        nan         nan         nan
CohortTerm                    0.2826      0.025     11.393      0.000       0.234       0.331
Gender                       -0.1427      0.040     -3.548      0.000      -0.221      -0.064
BirthYear                    -0.0396      0.003    -14.405      0.000      -0.045      -0.034
BirthMonth                   -0.0095      0.006     -1.668      0.095      -0.021       0.002
HSDipYr                    -9.22e-05   3.42e-05     -2.692      0.007      -0.000   -2.51e-05
HSGPAUnwtd                   -0.2584      0.024    -10.921      0.000      -0.305      -0.212
EnrollmentStatus             -1.4767      0.098    -15.053      0.000      -1.669      -1.284
NumColCredAttemptTransfer     0.0043      0.001      4.748      0.000       0.003       0.006
NumColCredAcceptTransfer     -0.0032      0.001     -2.321      0.020      -0.006      -0.000
HighDeg                      -0.1471      0.027     -5.534      0.000      -0.199      -0.095
MathPlacement                -0.3860      0.073     -5.270      0.000      -0.530      -0.242
EngPlacement                  0.7090      0.072      9.868      0.000       0.568       0.850
GatewayMathStatus            -0.1541      0.066     -2.338      0.019      -0.283      -0.025
GatewayEnglishStatus         -0.3914      0.066     -5.925      0.000      -0.521      -0.262
Race_AmericanIndian           8.7353        nan        nan        nan         nan         nan
Race_Asian                    9.1145        nan        nan        nan         nan         nan
Race_Black                    9.3952        nan        nan        nan         nan         nan
Race_Hispanic                 9.2889        nan        nan        nan         nan         nan
Race_NativeHawaiian           6.9669        nan        nan        nan         nan         nan
Race_TwoOrMoreRace            9.4926        nan        nan        nan         nan         nan
Race_Unknown                  9.3191        nan        nan        nan         nan         nan
Race_White                    9.2538        nan        nan        nan         nan         nan
=============================================================================================
                              Results: Logit
==========================================================================
Model:                  Logit              Pseudo R-squared:   0.074
Dependent Variable:     Dropout            AIC:                15194.5104
Date:                   2021-07-08 04:16   BIC:                15357.6224
No. Observations:       12261              Log-Likelihood:     -7575.3
Df Model:               21                 LL-Null:            -8177.8
Df Residuals:           12239              LLR p-value:        5.0281e-242
Converged:              1.0000             Scale:              1.0000
No. Iterations:         7.0000
--------------------------------------------------------------------------
                           Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------
const                     71.5662      nan      nan    nan     nan     nan
CohortTerm                 0.2826   0.0248  11.3928 0.0000  0.2340  0.3312
Gender                    -0.1427   0.0402  -3.5476 0.0004 -0.2215 -0.0638
BirthYear                 -0.0396   0.0027 -14.4048 0.0000 -0.0450 -0.0342
BirthMonth                -0.0095   0.0057  -1.6681 0.0953 -0.0206  0.0017
HSDipYr                   -0.0001   0.0000  -2.6923 0.0071 -0.0002 -0.0000
HSGPAUnwtd                -0.2584   0.0237 -10.9210 0.0000 -0.3048 -0.2121
EnrollmentStatus          -1.4767   0.0981 -15.0529 0.0000 -1.6690 -1.2844
NumColCredAttemptTransfer  0.0043   0.0009   4.7482 0.0000  0.0025  0.0061
NumColCredAcceptTransfer  -0.0032   0.0014  -2.3205 0.0203 -0.0059 -0.0005
HighDeg                   -0.1471   0.0266  -5.5339 0.0000 -0.1992 -0.0950
MathPlacement             -0.3860   0.0732  -5.2702 0.0000 -0.5295 -0.2424
EngPlacement               0.7090   0.0718   9.8682 0.0000  0.5682  0.8498
GatewayMathStatus         -0.1541   0.0659  -2.3380 0.0194 -0.2834 -0.0249
GatewayEnglishStatus      -0.3914   0.0661  -5.9255 0.0000 -0.5209 -0.2619
Race_AmericanIndian        8.7353      nan      nan    nan     nan     nan
Race_Asian                 9.1145      nan      nan    nan     nan     nan
Race_Black                 9.3952      nan      nan    nan     nan     nan
Race_Hispanic              9.2889      nan      nan    nan     nan     nan
Race_NativeHawaiian        6.9669      nan      nan    nan     nan     nan
Race_TwoOrMoreRace         9.4926      nan      nan    nan     nan     nan
Race_Unknown               9.3191      nan      nan    nan     nan     nan
Race_White                 9.2538      nan      nan    nan     nan     nan
==========================================================================

In [1493]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\G3fry\mambaforge\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [1494]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.63

#### Drop race column, It's P value is NAN

In [1497]:
X=X.drop(columns=['Race_AmericanIndian','Race_Asian','Race_Black','Race_Hispanic','Race_NativeHawaiian','Race_TwoOrMoreRace','Race_Unknown','Race_White'])

In [1499]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1500]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.618954
         Iterations 5

In [1501]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12246
Method:                           MLE   Df Model:                           14
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                 0.07199
Time:                        04:25:02   Log-Likelihood:                -7589.0
converged:                       True   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                1.187e-242
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                        82.3434      5.422     15.187      0.000      71.717      92.970
CohortTerm                    0.2833      0.025     11.430      0.000       0.235       0.332
Gender                       -0.1349      0.040     -3.369      0.001      -0.213      -0.056
BirthYear                    -0.0404      0.003    -14.848      0.000      -0.046      -0.035
BirthMonth                   -0.0093      0.006     -1.642      0.101      -0.020       0.002
HSDipYr                   -9.041e-05   3.41e-05     -2.648      0.008      -0.000   -2.35e-05
HSGPAUnwtd                   -0.2615      0.024    -11.073      0.000      -0.308      -0.215
EnrollmentStatus             -1.4798      0.098    -15.150      0.000      -1.671      -1.288
NumColCredAttemptTransfer     0.0044      0.001      4.862      0.000       0.003       0.006
NumColCredAcceptTransfer     -0.0033      0.001     -2.407      0.016      -0.006      -0.001
HighDeg                      -0.1443      0.026     -5.448      0.000      -0.196      -0.092
MathPlacement                -0.3636      0.073     -5.007      0.000      -0.506      -0.221
EngPlacement                  0.7072      0.072      9.885      0.000       0.567       0.847
GatewayMathStatus            -0.1527      0.066     -2.322      0.020      -0.282      -0.024
GatewayEnglishStatus         -0.3907      0.066     -5.925      0.000      -0.520      -0.261
=============================================================================================
                              Results: Logit
==========================================================================
Model:                  Logit              Pseudo R-squared:   0.072
Dependent Variable:     Dropout            AIC:                15207.9957
Date:                   2021-07-08 04:25   BIC:                15319.2084
No. Observations:       12261              Log-Likelihood:     -7589.0
Df Model:               14                 LL-Null:            -8177.8
Df Residuals:           12246              LLR p-value:        1.1867e-242
Converged:              1.0000             Scale:              1.0000
No. Iterations:         5.0000
--------------------------------------------------------------------------
                           Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
--------------------------------------------------------------------------
const                     82.3434   5.4219  15.1873 0.0000 71.7167 92.9701
CohortTerm                 0.2833   0.0248  11.4295 0.0000  0.2347  0.3318
Gender                    -0.1349   0.0400  -3.3685 0.0008 -0.2134 -0.0564
BirthYear                 -0.0404   0.0027 -14.8480 0.0000 -0.0457 -0.0350
BirthMonth                -0.0093   0.0057  -1.6415 0.1007 -0.0204  0.0018
HSDipYr                   -0.0001   0.0000  -2.6481 0.0081 -0.0002 -0.0000
HSGPAUnwtd                -0.2615   0.0236 -11.0729 0.0000 -0.3077 -0.2152
EnrollmentStatus          -1.4798   0.0977 -15.1501 0.0000 -1.6712 -1.2883
NumColCredAttemptTransfer  0.0044   0.0009   4.8624 0.0000  0.0026  0.0062
NumColCredAcceptTransfer  -0.0033   0.0014  -2.4075 0.0161 -0.0060 -0.0006
HighDeg                   -0.1443   0.0265  -5.4480 0.0000 -0.1962 -0.0924
MathPlacement             -0.3636   0.0726  -5.0070 0.0000 -0.5060 -0.2213
EngPlacement               0.7072   0.0715   9.8846 0.0000  0.5670  0.8475
GatewayMathStatus         -0.1527   0.0658  -2.3219 0.0202 -0.2816 -0.0238
GatewayEnglishStatus      -0.3907   0.0659  -5.9250 0.0000 -0.5200 -0.2615
==========================================================================

In [1507]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression(solver='lbfgs', max_iter=6000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.65

## Student Progress Data

In [1651]:
#Import the datasets 
df1 = pd.read_csv('Student Progress Data/Fall 2011_SP.csv')
df2 = pd.read_csv('Student Progress Data/Fall 2012_SP.csv')
df3 = pd.read_csv('Student Progress Data/Fall 2013_SP.csv')
df4 = pd.read_csv('Student Progress Data/Fall 2014_SP.csv')
df5 = pd.read_csv('Student Progress Data/Fall 2015_SP.csv')
df6 = pd.read_csv('Student Progress Data/Fall 2016_SP.csv')
df7 = pd.read_csv('Student Progress Data/Spring 2012_SP.csv')
df8 = pd.read_csv('Student Progress Data/Spring 2013_SP.csv')
df9 = pd.read_csv('Student Progress Data/Spring 2014_SP.csv')
df11 = pd.read_csv('Student Progress Data/Spring 2015_SP.csv')
df12 = pd.read_csv('Student Progress Data/Spring 2016_SP.csv')
df13 = pd.read_csv('Student Progress Data/Spring 2017_SP.csv')
df14 = pd.read_csv('Student Progress Data/Sum 2012.csv')
df15 = pd.read_csv('Student Progress Data/Sum 2013.csv')
df16 = pd.read_csv('Student Progress Data/Sum 2014.csv')
df17 = pd.read_csv('Student Progress Data/Sum 2015.csv')
df18 = pd.read_csv('Student Progress Data/Sum 2016.csv')
df19 = pd.read_csv('Student Progress Data/Sum 2017.csv')

In [1652]:
frames = [df1, df2, df3,df4,df5,df6,df7,df8,df9,df11,df12,df13,df14,df15,df16,df17,df18,df19]

In [1653]:
Student_Progress_Data = pd.concat(frames)

In [1654]:
Student_Progress_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57945 entries, 0 to 1218
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StudentID           57945 non-null  int64
 1   Cohort              57945 non-null  object
 2   CohortTerm          57945 non-null  int64
 3   Term                57945 non-null  int64
 4   AcademicYear        57945 non-null  object
 5   CompleteDevMath     57945 non-null  int64
 6   CompleteDevEnglish  57945 non-null  int64
 7   Major1              57945 non-null  float64
 8   Major2              57945 non-null  float64
 9   Complete1           57945 non-null  int64
 10  Complete2           57945 non-null  int64
 11  CompleteCIP1        57945 non-null  float64
 12  CompleteCIP2        57945 non-null  int64
 13  TransferIntent      57945 non-null  int64
 14  DegreeTypeSought    57945 non-null  int64
 15  TermGPA             57945 non-null  float64
 16  CumGPA              57945 non-null  float64
dtypes: float64(5), int64(10), object(2)
memory usage: 8.0+ MB

In [1655]:
Student_Progress_Data=Student_Progress_Data.drop_duplicates(subset=['StudentID'])

In [1656]:
#import DropoutTrainLabels dataset
DropoutTrainLabels = pd.read_csv('DropoutTrainLabels.csv')

In [1657]:
#merge the two datasets
Student_Progress_Data_to_model= pd.merge( Student_Progress_Data,DropoutTrainLabels,on='StudentID')

In [1658]:
Student_Progress_Data_stastics=Student_Progress_Data_to_model[['TermGPA','CumGPA','CompleteCIP1','CompleteCIP2']]

In [1659]:
Student_Progress_Data_stastics.describe()

            TermGPA        CumGPA  CompleteCIP1  CompleteCIP2
count  12261.000000  12261.000000  12261.000000       12261.0
mean       2.857813      2.853022     -1.960287          -2.0
std        1.102113      1.077837      1.365114           0.0
min        0.000000      0.000000     -2.000000          -2.0
25%        2.430000      2.420000     -2.000000          -2.0
50%        3.180000      3.170000     -2.000000          -2.0
75%        3.680000      3.660000     -2.000000          -2.0
max        4.000000      4.000000     52.140100          -2.0

### Data Cleaning for Student Progress Data

In [1660]:
Student_Progress_Data_to_model['Major2'].value_counts()

-1.0000     12036
 13.1209       84
 13.1202       38
 13.1001       24
 43.0199       10
 52.1401       10
 45.1101        9
 52.0201        8
 50.0701        7
 43.0399        5
 42.0101        5
 52.0801        5
 27.0101        4
 52.0301        3
 54.0101        2
 11.0101        2
 40.0501        2
 40.0801        2
 45.0601        2
 50.0901        1
 45.1001        1
 38.0101        1
Name: Major2, dtype: int64

In [1661]:
#most of major2 is -1(missing),drop this column
Student_Progress_Data_to_model=Student_Progress_Data_to_model.drop(columns=['Major2'])

In [1662]:
Student_Progress_Data_to_model['Complete2'].value_counts()

0    12261
Name: Complete2, dtype: int64

In [1663]:
#All complete2 is 0,drop this column
Student_Progress_Data_to_model=Student_Progress_Data_to_model.drop(columns=['Complete2'])

In [1664]:
Student_Progress_Data_to_model['CompleteCIP1'].value_counts()

-2.0000     12250
 43.0399        2
 43.0199        1
 52.0801        1
 51.0000        1
 16.0905        1
 26.0101        1
 51.3801        1
 52.1401        1
 45.1101        1
 42.0101        1
Name: CompleteCIP1, dtype: int64

In [1665]:
#Most of CompleteCIP1 is -2,drop this column
Student_Progress_Data_to_model=Student_Progress_Data_to_model.drop(columns=['CompleteCIP1'])

In [1666]:
Student_Progress_Data_to_model['DegreeTypeSought'].value_counts()

6    12261
Name: DegreeTypeSought, dtype: int64

In [1667]:
#All the students are bachelor's degree,drop this column
Student_Progress_Data_to_model=Student_Progress_Data_to_model.drop(columns=['DegreeTypeSought'])

In [1668]:
Student_Progress_Data_to_model['TransferIntent'].value_counts()

-1    12261
Name: TransferIntent, dtype: int64

In [1669]:
#All the TransferIntent are -1,drop this column
Student_Progress_Data_to_model=Student_Progress_Data_to_model.drop(columns=['TransferIntent'])

### create the Dummy Variables

In [1670]:
Cohort_dummies = pd.get_dummies(Student_Progress_Data_to_model.Cohort, prefix="Cohort")

In [1671]:
df_with_dummies = pd.concat([Student_Progress_Data_to_model,Cohort_dummies],axis='columns')

In [1672]:
df_with_dummies=df_with_dummies.drop(columns=['Cohort'])

In [1673]:
AcademicYear_dummies = pd.get_dummies(df_with_dummies.AcademicYear, prefix="AcademicYear")

In [1674]:
df_with_dummies = pd.concat([df_with_dummies,AcademicYear_dummies],axis='columns')

In [1675]:
df_with_dummies=df_with_dummies.drop(columns=['AcademicYear'])

In [1677]:
y = df_with_dummies.Dropout

In [1678]:
df_with_dummies=df_with_dummies.drop(columns=['StudentID','Dropout','CompleteDevMath','CompleteDevEnglish','CohortTerm','Term','Complete1','Major1'])

In [1679]:
X = df_with_dummies

In [1680]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1681]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.504799
         Iterations 34

In [1683]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12248
Method:                           MLE   Df Model:                           12
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                  0.2431
Time:                        18:25:15   Log-Likelihood:                -6189.3
converged:                       True   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                     0.000
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
CompleteCIP2             7.4421   2.46e+07   3.02e-07      1.000   -4.82e+07    4.82e+07
TermGPA                 -0.5627      0.069     -8.192      0.000      -0.697      -0.428
CumGPA                  -0.2284      0.070     -3.256      0.001      -0.366      -0.091
Cohort_2011-12          17.0026   2.01e+07   8.46e-07      1.000   -3.94e+07    3.94e+07
Cohort_2012-13          17.2440   2.02e+07   8.54e-07      1.000   -3.96e+07    3.96e+07
Cohort_2013-14          17.3816   2.03e+07   8.56e-07      1.000   -3.98e+07    3.98e+07
Cohort_2014-15          17.6090   2.04e+07   8.65e-07      1.000   -3.99e+07    3.99e+07
Cohort_2015-16          17.2172   2.03e+07   8.48e-07      1.000   -3.98e+07    3.98e+07
Cohort_2016-17         -90.1754   4.18e+22  -2.16e-21      1.000   -8.18e+22    8.18e+22
AcademicYear_2011-12     0.5114   6.98e+07   7.32e-09      1.000   -1.37e+08    1.37e+08
AcademicYear_2012-13     0.1034   6.98e+07   1.48e-09      1.000   -1.37e+08    1.37e+08
AcademicYear_2013-14    -0.2015   6.98e+07  -2.89e-09      1.000   -1.37e+08    1.37e+08
AcademicYear_2014-15    -0.5332   6.98e+07  -7.64e-09      1.000   -1.37e+08    1.37e+08
AcademicYear_2015-16    -0.9555   6.98e+07  -1.37e-08      1.000   -1.37e+08    1.37e+08
AcademicYear_2016-17    -2.6456   6.98e+07  -3.79e-08      1.000   -1.37e+08    1.37e+08
========================================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
                                                           Results: Logit
====================================================================================================================================
Model:                                     Logit                                  Pseudo R-squared:                       0.243
Dependent Variable:                        Dropout                                AIC:                                    12404.6830
Date:                                      2021-07-08 18:25                       BIC:                                    12501.0673
No. Observations:                          12261                                  Log-Likelihood:                         -6189.3
Df Model:                                  12                                     LL-Null:                                -8177.8
Df Residuals:                              12248                                  LLR p-value:                            0.0000
Converged:                                 1.0000                                 Scale:                                  1.0000
No. Iterations:                            34.0000
------------------------------------------------------------------------------------------------------------------------------------
                      Coef.             Std.Err.              z    P>|z|              [0.025                       0.975]
------------------------------------------------------------------------------------------------------------------------------------
CompleteCIP2           7.4421                24604196.6141  0.0000 1.0000                -48223331.7901                48223346.6743
TermGPA               -0.5627                       0.0687 -8.1923 0.0000                       -0.6973                      -0.4281
CumGPA                -0.2284                       0.0701 -3.2561 0.0011                       -0.3658                      -0.0909
Cohort_2011-12        17.0026                20098598.4910  0.0000 1.0000                -39392512.1795                39392546.1847
Cohort_2012-13        17.2440                20186635.6881  0.0000 1.0000                -39565061.6737                39565096.1617
Cohort_2013-14        17.3816                20317015.0496  0.0000 1.0000                -39820600.3890                39820635.1522
Cohort_2014-15        17.6090                20364462.3551  0.0000 1.0000                -39913595.1715                39913630.3895
Cohort_2015-16        17.2172                20305680.2774  0.0000 1.0000                -39798384.8081                39798419.2425
Cohort_2016-17       -90.1754 41754282443836235972608.0000 -0.0000 1.0000 -81836889790232097980416.0000 81836889790232097980416.0000
AcademicYear_2011-12   0.5114                69830626.6233  0.0000 1.0000               -136865512.6882               136865513.7109
AcademicYear_2012-13   0.1034                69830626.6233  0.0000 1.0000               -136865513.0962               136865513.3030
AcademicYear_2013-14  -0.2015                69830626.6233 -0.0000 1.0000               -136865513.4011               136865512.9980
AcademicYear_2014-15  -0.5332                69830626.6233 -0.0000 1.0000               -136865513.7328               136865512.6664
AcademicYear_2015-16  -0.9555                69830626.6233 -0.0000 1.0000               -136865514.1551               136865512.2441
AcademicYear_2016-17  -2.6456                69830626.6233 -0.0000 1.0000               -136865515.8452               136865510.5540
====================================================================================================================================

In [1684]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression(solver='lbfgs', max_iter=6000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.71

### Drop cohort and academic year, it's p value is High

In [1686]:
X=X.drop(columns=['Cohort_2011-12','Cohort_2012-13','Cohort_2013-14','Cohort_2014-15','Cohort_2015-16','Cohort_2016-17','AcademicYear_2011-12','AcademicYear_2012-13','AcademicYear_2013-14','AcademicYear_2014-15','AcademicYear_2015-16','AcademicYear_2016-17'])

In [1687]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1688]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.621915
         Iterations 5

In [1689]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12258
Method:                           MLE   Df Model:                            2
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                 0.06756
Time:                        18:35:20   Log-Likelihood:                -7625.3
converged:                       True   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                1.185e-240
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
CompleteCIP2    -0.5975      0.028    -21.012      0.000      -0.653      -0.542
TermGPA         -0.3683      0.060     -6.130      0.000      -0.486      -0.251
CumGPA          -0.2197      0.061     -3.575      0.000      -0.340      -0.099
================================================================================
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.068
Dependent Variable: Dropout          AIC:              15256.6019
Date:               2021-07-08 18:35 BIC:              15278.8445
No. Observations:   12261            Log-Likelihood:   -7625.3
Df Model:           2                LL-Null:          -8177.8
Df Residuals:       12258            LLR p-value:      1.1854e-240
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
-------------------------------------------------------------------
               Coef.   Std.Err.     z      P>|z|    [0.025   0.975]
-------------------------------------------------------------------
CompleteCIP2  -0.5975    0.0284  -21.0125  0.0000  -0.6532  -0.5418
TermGPA       -0.3683    0.0601   -6.1303  0.0000  -0.4860  -0.2505
CumGPA        -0.2197    0.0615   -3.5747  0.0004  -0.3401  -0.0992
==================================================================

In [1690]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression(solver='lbfgs', max_iter=6000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.67

##  Student Financial Data

In [1823]:
#Import the dataset 
Student_finacial_data = pd.read_csv('Student Financial Aid Data/2011-2017_Cohorts_Financial_Aid_and_Fafsa_Data.csv')

In [1824]:
Student_finacial_data_statics=Student_finacial_data.drop(columns=['ID with leading','cohort term',])

In [1825]:
Student_finacial_data_statics.describe()

,Adjusted Gross Income,Parent Adjusted Gross Income,2012 Loan,2012 Scholarship,2012 Work/Study,2012 Grant,2013 Loan,2013 Scholarship,2013 Work/Study,2013 Grant,...,2015 Work/Study,2015 Grant,2016 Loan,2016 Scholarship,2016 Work/Study,2016 Grant,2017 Loan,2017 Scholarship,2017 Work/Study,2017 Grant
count,1.161500e+04,11615.000000,1237.000000,171.000000,103.000000,1354.000000,2187.000000,310.000000,179.000000,2319.000000,...,249.000000,3404.000000,3175.000000,685.000000,272.000000,3694.000000,3324.000000,985.000000,367.000000,4037.000000
mean,1.312492e+04,28101.521653,7169.025869,5224.741813,1872.995146,6660.931617,7156.096278,4792.646903,2084.268156,7094.158098,...,2127.195783,7369.863796,7625.026822,4897.317679,2036.352941,7458.963519,8256.243983,5024.025198,1928.544441,7794.156061
std,3.557485e+04,42988.074677,6087.970826,5002.498203,665.153279,3811.967801,4807.548156,4413.279380,663.526606,3905.860943,...,850.855342,4018.332071,4885.988167,3870.333736,597.392613,4058.668360,5472.801128,3891.554164,530.666080,4173.771027
min,-2.432600e+04,-62979.000000,337.000000,283.000000,200.000000,79.090000,103.000000,23.000000,25.000000,162.000000,...,10.000000,209.000000,103.000000,28.300000,75.000000,9.690000,103.000000,100.000000,45.000000,0.100000
25%,0.000000e+00,0.000000,3500.000000,2000.000000,1700.000000,3368.250000,3500.000000,2000.000000,2000.000000,3683.000000,...,2000.000000,3880.000000,4500.000000,2000.000000,2000.000000,3963.250000,5353.750000,2000.000000,1500.000000,4261.000000
50%,2.637000e+03,12372.000000,5500.000000,4000.000000,2000.000000,5794.000000,5500.000000,3548.650000,2000.000000,6089.000000,...,2000.000000,6358.000000,6420.000000,4000.000000,2000.000000,6428.000000,6500.000000,4000.000000,2000.000000,7305.000000
75%,1.632300e+04,38587.000000,9500.000000,6000.000000,2121.000000,10714.000000,9500.000000,6408.800000,2200.000000,11040.000000,...,2800.000000,11592.000000,10500.000000,6000.000000,2000.000000,11717.500000,11812.500000,6906.100000,2000.000000,12173.000000
max,2.576425e+06,657631.000000,55626.000000,27631.900000,3000.000000,13263.000000,50555.000000,28737.100000,4000.000000,13790.000000,...,4600.000000,19038.000000,52880.000000,31265.500000,4000.000000,18505.000000,60118.000000,33847.900000,3000.000000,19823.000000

In [1826]:
Student_finacial_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13769 entries, 0 to 13768
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID with leading               13769 non-null  int64
 1   cohort                        13769 non-null  object
 2   cohort term                   13769 non-null  int64
 3   Marital Status                11615 non-null  object
 4   Adjusted Gross Income         11615 non-null  float64
 5   Parent Adjusted Gross Income  11615 non-null  float64
 6   Father's Highest Grade Level  11477 non-null  object
 7   Mother's Highest Grade Level  11249 non-null  object
 8   Housing                       11605 non-null  object
 9   2012 Loan                     1237 non-null   float64
 10  2012 Scholarship              171 non-null    float64
 11  2012 Work/Study               103 non-null    float64
 12  2012 Grant                    1354 non-null   float64
 13  2013 Loan                     2187 non-null   float64
 14  2013 Scholarship              310 non-null    float64
 15  2013 Work/Study               179 non-null    float64
 16  2013 Grant                    2319 non-null   float64
 17  2014 Loan                     2741 non-null   float64
 18  2014 Scholarship              416 non-null    float64
 19  2014 Work/Study               243 non-null    float64
 20  2014 Grant                    2929 non-null   float64
 21  2015 Loan                     3051 non-null   float64
 22  2015 Scholarship              595 non-null    float64
 23  2015 Work/Study               249 non-null    float64
 24  2015 Grant                    3404 non-null   float64
 25  2016 Loan                     3175 non-null   float64
 26  2016 Scholarship              685 non-null    float64
 27  2016 Work/Study               272 non-null    float64
 28  2016 Grant                    3694 non-null   float64
 29  2017 Loan                     3324 non-null   float64
 30  2017 Scholarship              985 non-null    float64
 31  2017 Work/Study               367 non-null    float64
 32  2017 Grant                    4037 non-null   float64
dtypes: float64(26), int64(2), object(5)
memory usage: 3.5+ MB

In [1827]:
Student_finacial_data['Marital Status'].value_counts()

Single       10155
Married       1024
Divorced       236
Separated      200
Name: Marital Status, dtype: int64

In [1828]:
#Majority of the students are sigle, so fill the missing values with majority
Student_finacial_data[['Marital Status']]=Student_finacial_data[['Marital Status']].fillna('Single')

In [1829]:
Student_finacial_data['Housing'].value_counts()

Off Campus           5373
With Parent          4608
On Campus Housing    1624
Name: Housing, dtype: int64

In [1830]:
#Majority of the students are Off Campus, so fill the missing values with majority
Student_finacial_data[['Housing']]=Student_finacial_data[['Housing']].fillna('Off Campus')

In [1831]:
Student_finacial_data['Father\'s Highest Grade Level'].value_counts()

High School      5092
College          3284
Unknown          1771
Middle School    1330
Name: Father's Highest Grade Level, dtype: int64

In [1832]:
#fill the missing values with Unknown
Student_finacial_data[['Father\'s Highest Grade Level']]=Student_finacial_data[['Father\'s Highest Grade Level']].fillna('Unknown')

In [1833]:
Student_finacial_data['Mother\'s Highest Grade Level'].value_counts()

High School      5024
College          3215
Unknown          1714
Middle School    1296
Name: Mother's Highest Grade Level, dtype: int64

In [1834]:
#fill the missing values with Unknown
Student_finacial_data[['Mother\'s Highest Grade Level']]=Student_finacial_data[['Mother\'s Highest Grade Level']].fillna('Unknown')

In [1835]:
Student_finacial_data['Adjusted Gross Income'].mean()

13124.92363323289

In [1836]:
#Fill missing values with mean
Student_finacial_data[['Adjusted Gross Income']]=Student_finacial_data[['Adjusted Gross Income']].fillna(13124.92)

In [1837]:
Student_finacial_data['Parent Adjusted Gross Income'].mean()

28101.52165303487

In [1839]:
#Fill missing values with mean
Student_finacial_data[['Parent Adjusted Gross Income']]=Student_finacial_data[['Parent Adjusted Gross Income']].fillna(28101.52)

In [1840]:
#import DropoutTrainLabels dataset
DropoutTrainLabels = pd.read_csv('DropoutTrainLabels.csv')

In [1841]:
#rename Id with Leading to StudentID
Student_finacial_data = Student_finacial_data.rename(columns={'ID with leading': 'StudentID'})

In [1842]:
#merge the two datasets
Student_finacial_Data_to_model= pd.merge( Student_finacial_data,DropoutTrainLabels,on='StudentID')

In [1843]:
Student_finacial_Data_to_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12261 entries, 0 to 12260
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   StudentID                     12261 non-null  int64
 1   cohort                        12261 non-null  object
 2   cohort term                   12261 non-null  int64
 3   Marital Status                12261 non-null  object
 4   Adjusted Gross Income         12261 non-null  float64
 5   Parent Adjusted Gross Income  12261 non-null  float64
 6   Father's Highest Grade Level  12261 non-null  object
 7   Mother's Highest Grade Level  12261 non-null  object
 8   Housing                       12261 non-null  object
 9   2012 Loan                     1151 non-null   float64
 10  2012 Scholarship              160 non-null    float64
 11  2012 Work/Study               96 non-null     float64
 12  2012 Grant                    1257 non-null   float64
 13  2013 Loan                     2007 non-null   float64
 14  2013 Scholarship              285 non-null    float64
 15  2013 Work/Study               164 non-null    float64
 16  2013 Grant                    2107 non-null   float64
 17  2014 Loan                     2536 non-null   float64
 18  2014 Scholarship              382 non-null    float64
 19  2014 Work/Study               226 non-null    float64
 20  2014 Grant                    2699 non-null   float64
 21  2015 Loan                     2832 non-null   float64
 22  2015 Scholarship              538 non-null    float64
 23  2015 Work/Study               232 non-null    float64
 24  2015 Grant                    3134 non-null   float64
 25  2016 Loan                     2931 non-null   float64
 26  2016 Scholarship              629 non-null    float64
 27  2016 Work/Study               244 non-null    float64
 28  2016 Grant                    3399 non-null   float64
 29  2017 Loan                     2899 non-null   float64
 30  2017 Scholarship              855 non-null    float64
 31  2017 Work/Study               322 non-null    float64
 32  2017 Grant                    3477 non-null   float64
 33  Dropout                       12261 non-null  int64
dtypes: float64(26), int64(3), object(5)
memory usage: 3.3+ MB

### create the Dummy Variables

In [1844]:
Marital_Status_dummies = pd.get_dummies(Student_finacial_Data_to_model['Marital Status'], prefix="Marital Status")

In [1845]:
df_with_dummies=Student_finacial_Data_to_model.drop(columns=['Marital Status'])

In [1846]:
df_with_dummies = pd.concat([Student_finacial_Data_to_model,Marital_Status_dummies],axis='columns')

In [1847]:
df_with_dummies=df_with_dummies.drop(columns=['Marital Status'])

In [1848]:
Housing_dummies = pd.get_dummies(df_with_dummies['Housing'], prefix="Housing")

In [1849]:
df_with_dummies=df_with_dummies.drop(columns=['Housing'])

In [1850]:
df_with_dummies = pd.concat([df_with_dummies,Housing_dummies],axis='columns')

In [1851]:
FatherHighestGradeLevel_dummies = pd.get_dummies(df_with_dummies['Father\'s Highest Grade Level'], prefix="FatherHighestGradeLevel")

In [1852]:
df_with_dummies=df_with_dummies.drop(columns=['Father\'s Highest Grade Level'])

In [1853]:
df_with_dummies = pd.concat([df_with_dummies,FatherHighestGradeLevel_dummies],axis='columns')

In [1854]:
MotherHighestGradeLevel_dummies = pd.get_dummies(df_with_dummies['Mother\'s Highest Grade Level'], prefix="MotherHighestGradeLevel")

In [1855]:
df_with_dummies=df_with_dummies.drop(columns=['Mother\'s Highest Grade Level'])

In [1856]:
df_with_dummies = pd.concat([df_with_dummies,MotherHighestGradeLevel_dummies],axis='columns')

In [1857]:
y = df_with_dummies.Dropout

In [1858]:
df_with_dummies=df_with_dummies.drop(columns=['StudentID','Dropout','cohort','cohort term','2012 Loan','2012 Scholarship','2012 Work/Study','2012 Grant','2013 Loan','2013 Scholarship','2013 Work/Study','2013 Grant','2014 Loan','2014 Scholarship','2014 Work/Study','2014 Grant','2015 Loan','2015 Scholarship','2015 Work/Study','2015 Grant','2016 Loan','2016 Scholarship','2016 Work/Study','2016 Grant','2017 Loan','2017 Scholarship','2017 Work/Study','2017 Grant'])

In [1859]:
df_with_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12261 entries, 0 to 12260
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Gross Income                  12261 non-null  float64
 1   Parent Adjusted Gross Income           12261 non-null  float64
 2   Marital Status_Divorced                12261 non-null  uint8
 3   Marital Status_Married                 12261 non-null  uint8
 4   Marital Status_Separated               12261 non-null  uint8
 5   Marital Status_Single                  12261 non-null  uint8
 6   Housing_Off Campus                     12261 non-null  uint8
 7   Housing_On Campus Housing              12261 non-null  uint8
 8   Housing_With Parent                    12261 non-null  uint8
 9   FatherHighestGradeLevel_College        12261 non-null  uint8
 10  FatherHighestGradeLevel_High School    12261 non-null  uint8
 11  FatherHighestGradeLevel_Middle School  12261 non-null  uint8
 12  FatherHighestGradeLevel_Unknown        12261 non-null  uint8
 13  MotherHighestGradeLevel_College        12261 non-null  uint8
 14  MotherHighestGradeLevel_High School    12261 non-null  uint8
 15  MotherHighestGradeLevel_Middle School  12261 non-null  uint8
 16  MotherHighestGradeLevel_Unknown        12261 non-null  uint8
dtypes: float64(2), uint8(15)
memory usage: 467.0 KB

In [1860]:
X = df_with_dummies

In [1861]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1862]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.658107
         Iterations: 35

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [1863]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12247
Method:                           MLE   Df Model:                           13
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                 0.01329
Time:                        20:44:05   Log-Likelihood:                -8069.1
converged:                      False   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                 3.595e-39
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                    -0.2658   7.64e+05  -3.48e-07      1.000    -1.5e+06     1.5e+06
Adjusted Gross Income                 -1.003e-06   8.88e-07     -1.129      0.259   -2.74e-06    7.38e-07
Parent Adjusted Gross Income          -1.932e-06   5.36e-07     -3.604      0.000   -2.98e-06   -8.81e-07
Marital Status_Divorced                  -0.2292        nan        nan        nan         nan         nan
Marital Status_Married                   -0.2207        nan        nan        nan         nan         nan
Marital Status_Separated                  0.0869        nan        nan        nan         nan         nan
Marital Status_Single                     0.0972        nan        nan        nan         nan         nan
Housing_Off Campus                        0.0111   1.78e+06   6.23e-09      1.000   -3.48e+06    3.48e+06
Housing_On Campus Housing                -0.0687   1.83e+06  -3.75e-08      1.000   -3.59e+06    3.59e+06
Housing_With Parent                      -0.2082   1.86e+06  -1.12e-07      1.000   -3.65e+06    3.65e+06
FatherHighestGradeLevel_College          -0.3211        nan        nan        nan         nan         nan
FatherHighestGradeLevel_High School      -0.1500        nan        nan        nan         nan         nan
FatherHighestGradeLevel_Middle School    -0.1694        nan        nan        nan         nan         nan
FatherHighestGradeLevel_Unknown           0.3747        nan        nan        nan         nan         nan
MotherHighestGradeLevel_College           0.0496        nan        nan        nan         nan         nan
MotherHighestGradeLevel_High School      -0.0308        nan        nan        nan         nan         nan
MotherHighestGradeLevel_Middle School     0.0429        nan        nan        nan         nan         nan
MotherHighestGradeLevel_Unknown          -0.3275        nan        nan        nan         nan         nan
=========================================================================================================
                                           Results: Logit
====================================================================================================
Model:                           Logit                       Pseudo R-squared:            0.013
Dependent Variable:              Dropout                     AIC:                         16166.1083
Date:                            2021-07-08 20:44            BIC:                         16269.9068
No. Observations:                12261                       Log-Likelihood:              -8069.1
Df Model:                        13                          LL-Null:                     -8177.8
Df Residuals:                    12247                       LLR p-value:                 3.5954e-39
Converged:                       0.0000                      Scale:                       1.0000
No. Iterations:                  35.0000
----------------------------------------------------------------------------------------------------
                                       Coef.    Std.Err.      z    P>|z|      [0.025       0.975]
----------------------------------------------------------------------------------------------------
const                                 -0.2658  764354.2037 -0.0000 1.0000 -1498106.9764 1498106.4449
Adjusted Gross Income                 -0.0000       0.0000 -1.1288 0.2590       -0.0000       0.0000
Parent Adjusted Gross Income          -0.0000       0.0000 -3.6038 0.0003       -0.0000      -0.0000
Marital Status_Divorced               -0.2292          nan     nan    nan           nan          nan
Marital Status_Married                -0.2207          nan     nan    nan           nan          nan
Marital Status_Separated               0.0869          nan     nan    nan           nan          nan
Marital Status_Single                  0.0972          nan     nan    nan           nan          nan
Housing_Off Campus                     0.0111 1777602.1338  0.0000 1.0000 -3484036.1501 3484036.1723
Housing_On Campus Housing             -0.0687 1834016.2792 -0.0000 1.0000 -3594605.9230 3594605.7856
Housing_With Parent                   -0.2082 1862554.5743 -0.0000 1.0000 -3650540.0931 3650539.6768
FatherHighestGradeLevel_College       -0.3211          nan     nan    nan           nan          nan
FatherHighestGradeLevel_High School   -0.1500          nan     nan    nan           nan          nan
FatherHighestGradeLevel_Middle School -0.1694          nan     nan    nan           nan          nan
FatherHighestGradeLevel_Unknown        0.3747          nan     nan    nan           nan          nan
MotherHighestGradeLevel_College        0.0496          nan     nan    nan           nan          nan
MotherHighestGradeLevel_High School   -0.0308          nan     nan    nan           nan          nan
MotherHighestGradeLevel_Middle School  0.0429          nan     nan    nan           nan          nan
MotherHighestGradeLevel_Unknown       -0.3275          nan     nan    nan           nan          nan
====================================================================================================

In [1864]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression(solver='lbfgs', max_iter=6000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.61

### Drop Marital Status, Housing, FatherHighestGradeLevel,MotherHighestGradeLevel.As it's p value is High

In [1866]:
X=X.drop(columns=['Marital Status_Divorced','Marital Status_Married','Marital Status_Separated','Marital Status_Single','Housing_Off Campus','Housing_On Campus Housing','Housing_With Parent','FatherHighestGradeLevel_College','FatherHighestGradeLevel_High School','FatherHighestGradeLevel_Middle School','FatherHighestGradeLevel_Unknown','MotherHighestGradeLevel_High School','MotherHighestGradeLevel_High School','MotherHighestGradeLevel_Middle School','MotherHighestGradeLevel_College','MotherHighestGradeLevel_Unknown'])

In [1868]:
X = sm.add_constant(X)

C:\Users\G3fry\mambaforge\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [1869]:
model=sm.Logit(y,X)
result = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.665634
         Iterations 5

In [1870]:
print(result.summary())
print(result.summary2())

                           Logit Regression Results
==============================================================================
Dep. Variable:                Dropout   No. Observations:                12261
Model:                          Logit   Df Residuals:                    12258
Method:                           MLE   Df Model:                            2
Date:                Thu, 08 Jul 2021   Pseudo R-squ.:                0.002007
Time:                        20:56:14   Log-Likelihood:                -8161.3
converged:                       True   LL-Null:                       -8177.8
Covariance Type:            nonrobust   LLR p-value:                 7.419e-08
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -0.3631      0.027    -13.459      0.000      -0.416      -0.310
Adjusted Gross Income        -1.858e-06   8.54e-07     -2.176      0.030   -3.53e-06   -1.85e-07
Parent Adjusted Gross Income -2.753e-06   5.05e-07     -5.455      0.000   -3.74e-06   -1.76e-06
================================================================================================
                               Results: Logit
=============================================================================
Model:                  Logit                Pseudo R-squared:     0.002
Dependent Variable:     Dropout              AIC:                  16328.6692
Date:                   2021-07-08 20:56     BIC:                  16350.9117
No. Observations:       12261                Log-Likelihood:       -8161.3
Df Model:               2                    LL-Null:              -8177.8
Df Residuals:           12258                LLR p-value:          7.4186e-08
Converged:              1.0000               Scale:                1.0000
No. Iterations:         5.0000
-----------------------------------------------------------------------------
                              Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-----------------------------------------------------------------------------
const                        -0.3631   0.0270 -13.4595 0.0000 -0.4160 -0.3102
Adjusted Gross Income        -0.0000   0.0000  -2.1764 0.0295 -0.0000 -0.0000
Parent Adjusted Gross Income -0.0000   0.0000  -5.4547 0.0000 -0.0000 -0.0000
=============================================================================

In [1871]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
logreg = LogisticRegression(solver='lbfgs', max_iter=6000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.61